<div class="pdfcard">
    <div class="pdfcard__control">

    </div>
    <div class="pdfcard__canvasbox">
        <canvas class="pdfcard__canvas"></canvas>
    </div>
    <div class="pdfcard__meta">
        <p class="pdfcard__meta--file-name"></p>
        <p class="pdfcard__meta--page-count"></p>
    </div>
</div>